@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display: "Roboto", sans-serif;
  --font-sans: "Roboto", sans-serif;
  --font-family-sans: "Roboto", sans-serif;
}
