alembic
fastapi-health
fastapi
loguru
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-sdk
psycopg[binary,pool]
pydantic-settings
python-dotenv
sqlalchemy[asyncio]
sse-starlette
uvicorn[standard]
SQLAlchemy
prometheus-client
jsonschema
httpx
langgraph
